.thumbnail{        
    width: 300px; 
     width : 100%;
    height: 300px;
    overflow: auto;
}

.row {
  margin-bottom: -10%;
}

.thumbnail img{
    width: 75%;
    height: 75%;
    display: block;
    box-shadow: 10px 10px 5px #aaaaaa;

}

.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size:200%;
    opacity: 0.5;
  }
  
  .rounded:hover ~ .centered {
    display: none
  }

  
  #main:hover + #show {
    display: block
  }
  #main:hover ~ #hide {
    display: none
  }
  
.pagination {
    justify-content: center;
    margin-top: 10%;
}


