
h1 {
    text-shadow: 4px 4px 4px black;
}

h2 {
  text-shadow: 4px 4px 4px #aaaaaa;
  color: black;
}

.body-head {
  font-size: 400%;
  text-shadow: 2px 2px 2px #aaaaaa;

}

/* temperature */ 
.weather {
  margin-top: 40px;
  color:white;
  text-shadow: 4px 4px 4px black;

}
.temp-icon {
  margin-top: -30px;
  height:75px;
  width: 75px;
}


.img-fluid {
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
    border-radius: 3%;
}


  #body-grid {
      background-color:white;
      color: black;
      text-align: center;
      
  }

  .states{
    text-shadow: 2px 2px 2px #aaaaaa;

    font-size: 300%;
  }

  .row {
    margin-top: 6%;
  }

  /* Set the size of the div element that contains the map */
.map-card {
    margin-top: -3%;
    margin-left: 15%;
    padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 5px 5px 5px #aaaaaa;
    border-radius: 3%;

    height: 300px;
    /* The height is 400 pixels */
    width: 60%;
    /* The width is the width of the web page */
  }

  .blog-footer {
    margin-top: 5%;
  }


 

  