/* nav*/


h1 {
    text-shadow: 4px 4px 4px black;
}

h2 {
  text-shadow: 4px 4px 4px #aaaaaa;
  color: black;
}

.body-head {
  font-size: 400%;
  text-shadow: 2px 2px 2px #aaaaaa;

}

/*Card */
#card-cont{
  background-color: rgb(250, 250, 237) ;
  padding: 10%;
  border-radius: 2em;
  margin-bottom: 5%;
}

/* temperature */ 
.weather {
  margin-top: 40px;
  color:white;
  text-shadow: 4px 4px 4px black;

}
.temp-icon {
  margin-top: -30px;
  height:75px;
  width: 75px;
}


.img-fluid {
    border-radius: 3%;
    width: 100%;
    height: 100%;
    display: block;
    margin-top: 2%;
}


  #body-grid {
      background-color:white;
      color: black;
      text-align: center;  
  }

  .states{
    color:black;
    text-shadow: 2px 2px 2px #aaaaaa;
    border-bottom: solid 1px black;
    font-size: 250%;
  }

  #state-cont {
    border-radius: 2em;

  }

  /* state rows*/
  #alaska-row {
    background-color: rgb(146, 212, 214);
    margin-top:-32px ;

  }

  #cal-row {
    background-color: rgb(186, 216, 218);
  }

  #col-row {
    background-color: rgb(146, 212, 214);
  }

  #mon-row {
    background-color: rgb(186, 216, 218);
  }

  #utah-row {
    background-color: rgb(146, 212, 214);
  }
  

  

  /* Set the size of the div element that contains the map */
.map-card {
    padding: 10px 10px 20px 10px;
    border-radius: 3%;
    margin-top: 5%;
    height: 250px;
    width: 100%;
  }

  .blog-footer {
    border-top: solid 1px black;
    padding-top: 3%;
    background-color: white;
  }


 

  