
#carouselId {
    border-top: solid 3px yellow;
    border-bottom: solid 3px blue;
    border-right: solid 3px red;
    border-left: solid 3px green;
}
.carousel-item {
    height: 500px;
}

.img-fluid {
    border-top: solid 3px yellow;
    border-bottom: solid 3px blue;
    border-right: solid 3px red;
    border-left: solid 3px green;
    border-radius: 3%;
}

  #body-grid {
      background-color:white;
      color: black;
  }

  #utah-row {
      padding-top: 10%;
  }
  #cal-row {
      margin-top: 10%;
  }

  #col-row {
      margin-top: 10%;
  }

  #mon-row {
      margin-top: 10%;
  }



 

  