


h1 {
    text-shadow: 4px 4px 4px black;

}

.display {
    font-size: 100%;
    margin-top: 1%;

}
.img-fluid {
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
    border-radius: 3%;
}
.right {
    transform: rotate(3deg);
}

.left {
    transform: rotate(-3deg);

}


  #body-grid {
      background-color:white;
      color: black;
      text-align: center;
      
  }

  .states{
    font-family: cursive;
    text-shadow: 2px 2px 2px #aaaaaa;

    font-size: 300%;
  }

  #utah-row {
      padding-top: 10%;
  }
  #cal-row {
      margin-top: 10%;
  }

  #col-row {
      margin-top: 10%;
  }

  #mon-row {
      margin-top: 10%;
  }

  /* Set the size of the div element that contains the map */
#map {
    transform: rotate(-6deg);
    margin-left: 15%;
    padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
    border-radius: 3%;

    height: 300px;
    /* The height is 400 pixels */
    width: 75%;
    /* The width is the width of the web page */
  }

  #map1 {
    transform: rotate(-6deg);
    margin-left: 15%;
    padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
    border-radius: 3%;

    height: 300px;
    /* The height is 400 pixels */
    width: 75%;
    /* The width is the width of the web page */
  }

  #map2 {
    transform: rotate(-6deg);
    margin-left: 15%;
    padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
    border-radius: 3%;

    height: 300px;
    /* The height is 400 pixels */
    width: 75%;
    /* The width is the width of the web page */
  }


 

  